.projects {
    position: absolute;
    margin-top: 125rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.first-line {
    justify-content: space-around;
    flex-direction: column;
    columns: 3;
}

.second-line {
    margin-top: 2rem;
    flex-direction: column;
    columns: 3;
}

.project-link {
    border: 5px;
    border-style: solid;
    border-radius: 80px;
    border-color: cyan;
}

@media screen and (max-width: 2400px) {
    p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 940px) {
    p {
        font-size: 1.25rem;
    }


}

@media screen and (max-width: 495px) {
    .first-line {
        margin-top: 1rem;
        columns: 1;
    }

    .second-line {
        margin-top: none;
        columns: 1;
    }

    p {
        font-size: 1rem;
    }
}