.projects {
    position: absolute;
    box-sizing: border-box;
    margin-top: 125rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-link {
    height: 100px;
}

.first-line {
    justify-content: space-between;
    flex-direction: column;
    columns: 3;
}

.second-line {
    justify-content: space-between;
    margin-top: 2rem;
    flex-direction: column;
    columns: 3;
}

.project-link a:hover {
    color: cyan;
}

.contacts {
    flex-direction: column;
    display: flex;
    margin-bottom: 2rem;
    padding-top: 15rem;

}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    color: cyan;
    font-size: 3rem;

}

.logo:hover {
    color: white;
}

#linkedin {
    margin-left: 2rem;
    margin-right: 2rem;
}






@media screen and (max-width: 2400px) {
    p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 940px) {
    p {
        font-size: 1.25rem;
    }


}

@media screen and (max-width: 495px) {
    .first-line {
        margin-top: 1rem;
        columns: 1;
    }

    .second-line {
        margin-top: none;
        columns: 1;
    }

    p {
        font-size: 1rem;
    }
}