.hero-container {
    background: linear-gradient(110deg, #293241 60%, #98C1D9 60%);height: 95vh;    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    box-shadow: black;
    object-fit: contain;
}

.hero-container>h1 {
    color: #E0FBFC;
    font-size: 100px;
    padding: 35px;
    margin-top: -100px;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 5px;
}

@media screen and (max-width: 1440px) {
    .hero-container > h1{
        font-size: 70px;
        margin-top: -75px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1{
        font-size: 50px;
        margin-top: -75px;
    }

    .btn-mobile{
        display: block;
        text-decoration: none;
    }

    .btn{
        width: 100%;
    }
}