* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Futura, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 10px 28px;
  font-size: 1.1rem;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Futura', Courier, monospace;
}

.btn-outline {
  background: transparent;
  border: 1px solid cyan;
  color: cyan;
}

@media screen and (max-width: 2000px){
  h1{
    font-size: 3rem;
    font-weight: bolder;
  }
  h2{
    font-size: 2.5rem;
  }
  
}

@media screen and (max-width: 940px){
  h1{
    font-size: 2.5rem;
    font-weight: bolder;
  }
  h2{
    font-size: 2rem;
  }
  
}

@media screen and (max-width: 495px){
  h1{
    font-size: 2rem;
    font-weight: bolder;
  }
  h2{
    font-size: 1.5rem;
  }
  
}